<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccgj.database.mapper.LiuchengDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ccgj.database.beans.LiuchengDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shenpiId" property="shenpiid" jdbcType="INTEGER" />
    <result column="baiodanId" property="baiodanid" jdbcType="INTEGER" />
    <result column="mingchen" property="mingchen" jdbcType="VARCHAR" />
    <result column="leixing" property="leixing" jdbcType="INTEGER" />
    <result column="neirong_value" property="neirongValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, shenpiId, baiodanId, mingchen, leixing, neirong_value
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ccgj.database.beans.LiuchengDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from liucheng_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from liucheng_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from liucheng_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ccgj.database.beans.LiuchengDetailExample" >
    delete from liucheng_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ccgj.database.beans.LiuchengDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into liucheng_detail (shenpiId, baiodanId, mingchen, 
      leixing, neirong_value)
    values (#{shenpiid,jdbcType=INTEGER}, #{baiodanid,jdbcType=INTEGER}, #{mingchen,jdbcType=VARCHAR}, 
      #{leixing,jdbcType=INTEGER}, #{neirongValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ccgj.database.beans.LiuchengDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into liucheng_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shenpiid != null" >
        shenpiId,
      </if>
      <if test="baiodanid != null" >
        baiodanId,
      </if>
      <if test="mingchen != null" >
        mingchen,
      </if>
      <if test="leixing != null" >
        leixing,
      </if>
      <if test="neirongValue != null" >
        neirong_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shenpiid != null" >
        #{shenpiid,jdbcType=INTEGER},
      </if>
      <if test="baiodanid != null" >
        #{baiodanid,jdbcType=INTEGER},
      </if>
      <if test="mingchen != null" >
        #{mingchen,jdbcType=VARCHAR},
      </if>
      <if test="leixing != null" >
        #{leixing,jdbcType=INTEGER},
      </if>
      <if test="neirongValue != null" >
        #{neirongValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ccgj.database.beans.LiuchengDetailExample" resultType="java.lang.Integer" >
    select count(*) from liucheng_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update liucheng_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shenpiid != null" >
        shenpiId = #{record.shenpiid,jdbcType=INTEGER},
      </if>
      <if test="record.baiodanid != null" >
        baiodanId = #{record.baiodanid,jdbcType=INTEGER},
      </if>
      <if test="record.mingchen != null" >
        mingchen = #{record.mingchen,jdbcType=VARCHAR},
      </if>
      <if test="record.leixing != null" >
        leixing = #{record.leixing,jdbcType=INTEGER},
      </if>
      <if test="record.neirongValue != null" >
        neirong_value = #{record.neirongValue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update liucheng_detail
    set id = #{record.id,jdbcType=INTEGER},
      shenpiId = #{record.shenpiid,jdbcType=INTEGER},
      baiodanId = #{record.baiodanid,jdbcType=INTEGER},
      mingchen = #{record.mingchen,jdbcType=VARCHAR},
      leixing = #{record.leixing,jdbcType=INTEGER},
      neirong_value = #{record.neirongValue,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccgj.database.beans.LiuchengDetail" >
    update liucheng_detail
    <set >
      <if test="shenpiid != null" >
        shenpiId = #{shenpiid,jdbcType=INTEGER},
      </if>
      <if test="baiodanid != null" >
        baiodanId = #{baiodanid,jdbcType=INTEGER},
      </if>
      <if test="mingchen != null" >
        mingchen = #{mingchen,jdbcType=VARCHAR},
      </if>
      <if test="leixing != null" >
        leixing = #{leixing,jdbcType=INTEGER},
      </if>
      <if test="neirongValue != null" >
        neirong_value = #{neirongValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccgj.database.beans.LiuchengDetail" >
    update liucheng_detail
    set shenpiId = #{shenpiid,jdbcType=INTEGER},
      baiodanId = #{baiodanid,jdbcType=INTEGER},
      mingchen = #{mingchen,jdbcType=VARCHAR},
      leixing = #{leixing,jdbcType=INTEGER},
      neirong_value = #{neirongValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>