<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccgj.database.mapper.MeetMapper" >
  <resultMap id="BaseResultMap" type="com.ccgj.database.beans.Meet" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="didian" property="didian" jdbcType="VARCHAR" />
    <result column="createuser" property="createuser" jdbcType="INTEGER" />
    <result column="meet_date" property="meetDate" jdbcType="TIMESTAMP" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="createName" property="createname" jdbcType="VARCHAR" />
    <result column="oldfilename" property="oldfilename" jdbcType="VARCHAR" />
    <result column="newfilename" property="newfilename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, didian, createuser, meet_date, flag, createName, oldfilename, newfilename
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ccgj.database.beans.MeetExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from meet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from meet
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from meet
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ccgj.database.beans.MeetExample" >
    delete from meet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ccgj.database.beans.Meet" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into meet (name, didian, createuser, 
      meet_date, flag, createName, 
      oldfilename, newfilename)
    values (#{name,jdbcType=VARCHAR}, #{didian,jdbcType=VARCHAR}, #{createuser,jdbcType=INTEGER}, 
      #{meetDate,jdbcType=TIMESTAMP}, #{flag,jdbcType=INTEGER}, #{createname,jdbcType=VARCHAR}, 
      #{oldfilename,jdbcType=VARCHAR}, #{newfilename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ccgj.database.beans.Meet" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into meet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="didian != null" >
        didian,
      </if>
      <if test="createuser != null" >
        createuser,
      </if>
      <if test="meetDate != null" >
        meet_date,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="createname != null" >
        createName,
      </if>
      <if test="oldfilename != null" >
        oldfilename,
      </if>
      <if test="newfilename != null" >
        newfilename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="didian != null" >
        #{didian,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=INTEGER},
      </if>
      <if test="meetDate != null" >
        #{meetDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="createname != null" >
        #{createname,jdbcType=VARCHAR},
      </if>
      <if test="oldfilename != null" >
        #{oldfilename,jdbcType=VARCHAR},
      </if>
      <if test="newfilename != null" >
        #{newfilename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ccgj.database.beans.MeetExample" resultType="java.lang.Integer" >
    select count(*) from meet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update meet
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.didian != null" >
        didian = #{record.didian,jdbcType=VARCHAR},
      </if>
      <if test="record.createuser != null" >
        createuser = #{record.createuser,jdbcType=INTEGER},
      </if>
      <if test="record.meetDate != null" >
        meet_date = #{record.meetDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.flag != null" >
        flag = #{record.flag,jdbcType=INTEGER},
      </if>
      <if test="record.createname != null" >
        createName = #{record.createname,jdbcType=VARCHAR},
      </if>
      <if test="record.oldfilename != null" >
        oldfilename = #{record.oldfilename,jdbcType=VARCHAR},
      </if>
      <if test="record.newfilename != null" >
        newfilename = #{record.newfilename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update meet
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      didian = #{record.didian,jdbcType=VARCHAR},
      createuser = #{record.createuser,jdbcType=INTEGER},
      meet_date = #{record.meetDate,jdbcType=TIMESTAMP},
      flag = #{record.flag,jdbcType=INTEGER},
      createName = #{record.createname,jdbcType=VARCHAR},
      oldfilename = #{record.oldfilename,jdbcType=VARCHAR},
      newfilename = #{record.newfilename,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccgj.database.beans.Meet" >
    update meet
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="didian != null" >
        didian = #{didian,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        createuser = #{createuser,jdbcType=INTEGER},
      </if>
      <if test="meetDate != null" >
        meet_date = #{meetDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="createname != null" >
        createName = #{createname,jdbcType=VARCHAR},
      </if>
      <if test="oldfilename != null" >
        oldfilename = #{oldfilename,jdbcType=VARCHAR},
      </if>
      <if test="newfilename != null" >
        newfilename = #{newfilename,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccgj.database.beans.Meet" >
    update meet
    set name = #{name,jdbcType=VARCHAR},
      didian = #{didian,jdbcType=VARCHAR},
      createuser = #{createuser,jdbcType=INTEGER},
      meet_date = #{meetDate,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=INTEGER},
      createName = #{createname,jdbcType=VARCHAR},
      oldfilename = #{oldfilename,jdbcType=VARCHAR},
      newfilename = #{newfilename,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>