<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccgj.database.mapper.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.ccgj.database.beans.Users" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userNo" property="userno" jdbcType="VARCHAR" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="INTEGER" />
    <result column="deptid" property="deptid" jdbcType="INTEGER" />
    <result column="deptName" property="deptname" jdbcType="VARCHAR" />
    <result column="xingzhengjibieId" property="xingzhengjibieid" jdbcType="INTEGER" />
    <result column="xingzhengjibieName" property="xingzhengjibiename" jdbcType="VARCHAR" />
    <result column="zhiwuId" property="zhiwuid" jdbcType="INTEGER" />
    <result column="zhiwuName" property="zhiwuname" jdbcType="VARCHAR" />
    <result column="zhichenId" property="zhichenid" jdbcType="INTEGER" />
    <result column="zhichenName" property="zhichenname" jdbcType="VARCHAR" />
    <result column="roleId" property="roleid" jdbcType="INTEGER" />
    <result column="roleName" property="rolename" jdbcType="VARCHAR" />
    <result column="telCode" property="telcode" jdbcType="VARCHAR" />
    <result column="qqCode" property="qqcode" jdbcType="VARCHAR" />
    <result column="emailCode" property="emailcode" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="sexName" property="sexname" jdbcType="VARCHAR" />
    <result column="eduLead" property="edulead" jdbcType="INTEGER" />
    <result column="bangongTelCode" property="bangongtelcode" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="positionId" property="positionid" jdbcType="INTEGER" />
    <result column="positionName" property="positionname" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userNo, userName, password, parentid, deptid, deptName, xingzhengjibieId, xingzhengjibieName, 
    zhiwuId, zhiwuName, zhichenId, zhichenName, roleId, roleName, telCode, qqCode, emailCode, 
    sex, sexName, eduLead, bangongTelCode, photo, positionId, positionName, flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ccgj.database.beans.UsersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ccgj.database.beans.UsersExample" >
    delete from users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ccgj.database.beans.Users" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into users (userNo, userName, password, 
      parentid, deptid, deptName, 
      xingzhengjibieId, xingzhengjibieName, zhiwuId, 
      zhiwuName, zhichenId, zhichenName, 
      roleId, roleName, telCode, 
      qqCode, emailCode, sex, 
      sexName, eduLead, bangongTelCode, 
      photo, positionId, positionName, 
      flag)
    values (#{userno,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=INTEGER}, #{deptid,jdbcType=INTEGER}, #{deptname,jdbcType=VARCHAR}, 
      #{xingzhengjibieid,jdbcType=INTEGER}, #{xingzhengjibiename,jdbcType=VARCHAR}, #{zhiwuid,jdbcType=INTEGER}, 
      #{zhiwuname,jdbcType=VARCHAR}, #{zhichenid,jdbcType=INTEGER}, #{zhichenname,jdbcType=VARCHAR}, 
      #{roleid,jdbcType=INTEGER}, #{rolename,jdbcType=VARCHAR}, #{telcode,jdbcType=VARCHAR}, 
      #{qqcode,jdbcType=VARCHAR}, #{emailcode,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{sexname,jdbcType=VARCHAR}, #{edulead,jdbcType=INTEGER}, #{bangongtelcode,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{positionid,jdbcType=INTEGER}, #{positionname,jdbcType=VARCHAR}, 
      #{flag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ccgj.database.beans.Users" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userno != null" >
        userNo,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="deptid != null" >
        deptid,
      </if>
      <if test="deptname != null" >
        deptName,
      </if>
      <if test="xingzhengjibieid != null" >
        xingzhengjibieId,
      </if>
      <if test="xingzhengjibiename != null" >
        xingzhengjibieName,
      </if>
      <if test="zhiwuid != null" >
        zhiwuId,
      </if>
      <if test="zhiwuname != null" >
        zhiwuName,
      </if>
      <if test="zhichenid != null" >
        zhichenId,
      </if>
      <if test="zhichenname != null" >
        zhichenName,
      </if>
      <if test="roleid != null" >
        roleId,
      </if>
      <if test="rolename != null" >
        roleName,
      </if>
      <if test="telcode != null" >
        telCode,
      </if>
      <if test="qqcode != null" >
        qqCode,
      </if>
      <if test="emailcode != null" >
        emailCode,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="sexname != null" >
        sexName,
      </if>
      <if test="edulead != null" >
        eduLead,
      </if>
      <if test="bangongtelcode != null" >
        bangongTelCode,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="positionid != null" >
        positionId,
      </if>
      <if test="positionname != null" >
        positionName,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userno != null" >
        #{userno,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=INTEGER},
      </if>
      <if test="deptname != null" >
        #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="xingzhengjibieid != null" >
        #{xingzhengjibieid,jdbcType=INTEGER},
      </if>
      <if test="xingzhengjibiename != null" >
        #{xingzhengjibiename,jdbcType=VARCHAR},
      </if>
      <if test="zhiwuid != null" >
        #{zhiwuid,jdbcType=INTEGER},
      </if>
      <if test="zhiwuname != null" >
        #{zhiwuname,jdbcType=VARCHAR},
      </if>
      <if test="zhichenid != null" >
        #{zhichenid,jdbcType=INTEGER},
      </if>
      <if test="zhichenname != null" >
        #{zhichenname,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="telcode != null" >
        #{telcode,jdbcType=VARCHAR},
      </if>
      <if test="qqcode != null" >
        #{qqcode,jdbcType=VARCHAR},
      </if>
      <if test="emailcode != null" >
        #{emailcode,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="sexname != null" >
        #{sexname,jdbcType=VARCHAR},
      </if>
      <if test="edulead != null" >
        #{edulead,jdbcType=INTEGER},
      </if>
      <if test="bangongtelcode != null" >
        #{bangongtelcode,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="positionid != null" >
        #{positionid,jdbcType=INTEGER},
      </if>
      <if test="positionname != null" >
        #{positionname,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ccgj.database.beans.UsersExample" resultType="java.lang.Integer" >
    select count(*) from users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update users
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userno != null" >
        userNo = #{record.userno,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null" >
        parentid = #{record.parentid,jdbcType=INTEGER},
      </if>
      <if test="record.deptid != null" >
        deptid = #{record.deptid,jdbcType=INTEGER},
      </if>
      <if test="record.deptname != null" >
        deptName = #{record.deptname,jdbcType=VARCHAR},
      </if>
      <if test="record.xingzhengjibieid != null" >
        xingzhengjibieId = #{record.xingzhengjibieid,jdbcType=INTEGER},
      </if>
      <if test="record.xingzhengjibiename != null" >
        xingzhengjibieName = #{record.xingzhengjibiename,jdbcType=VARCHAR},
      </if>
      <if test="record.zhiwuid != null" >
        zhiwuId = #{record.zhiwuid,jdbcType=INTEGER},
      </if>
      <if test="record.zhiwuname != null" >
        zhiwuName = #{record.zhiwuname,jdbcType=VARCHAR},
      </if>
      <if test="record.zhichenid != null" >
        zhichenId = #{record.zhichenid,jdbcType=INTEGER},
      </if>
      <if test="record.zhichenname != null" >
        zhichenName = #{record.zhichenname,jdbcType=VARCHAR},
      </if>
      <if test="record.roleid != null" >
        roleId = #{record.roleid,jdbcType=INTEGER},
      </if>
      <if test="record.rolename != null" >
        roleName = #{record.rolename,jdbcType=VARCHAR},
      </if>
      <if test="record.telcode != null" >
        telCode = #{record.telcode,jdbcType=VARCHAR},
      </if>
      <if test="record.qqcode != null" >
        qqCode = #{record.qqcode,jdbcType=VARCHAR},
      </if>
      <if test="record.emailcode != null" >
        emailCode = #{record.emailcode,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.sexname != null" >
        sexName = #{record.sexname,jdbcType=VARCHAR},
      </if>
      <if test="record.edulead != null" >
        eduLead = #{record.edulead,jdbcType=INTEGER},
      </if>
      <if test="record.bangongtelcode != null" >
        bangongTelCode = #{record.bangongtelcode,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null" >
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.positionid != null" >
        positionId = #{record.positionid,jdbcType=INTEGER},
      </if>
      <if test="record.positionname != null" >
        positionName = #{record.positionname,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null" >
        flag = #{record.flag,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update users
    set id = #{record.id,jdbcType=INTEGER},
      userNo = #{record.userno,jdbcType=VARCHAR},
      userName = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      parentid = #{record.parentid,jdbcType=INTEGER},
      deptid = #{record.deptid,jdbcType=INTEGER},
      deptName = #{record.deptname,jdbcType=VARCHAR},
      xingzhengjibieId = #{record.xingzhengjibieid,jdbcType=INTEGER},
      xingzhengjibieName = #{record.xingzhengjibiename,jdbcType=VARCHAR},
      zhiwuId = #{record.zhiwuid,jdbcType=INTEGER},
      zhiwuName = #{record.zhiwuname,jdbcType=VARCHAR},
      zhichenId = #{record.zhichenid,jdbcType=INTEGER},
      zhichenName = #{record.zhichenname,jdbcType=VARCHAR},
      roleId = #{record.roleid,jdbcType=INTEGER},
      roleName = #{record.rolename,jdbcType=VARCHAR},
      telCode = #{record.telcode,jdbcType=VARCHAR},
      qqCode = #{record.qqcode,jdbcType=VARCHAR},
      emailCode = #{record.emailcode,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      sexName = #{record.sexname,jdbcType=VARCHAR},
      eduLead = #{record.edulead,jdbcType=INTEGER},
      bangongTelCode = #{record.bangongtelcode,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      positionId = #{record.positionid,jdbcType=INTEGER},
      positionName = #{record.positionname,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccgj.database.beans.Users" >
    update users
    <set >
      <if test="userno != null" >
        userNo = #{userno,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="deptid != null" >
        deptid = #{deptid,jdbcType=INTEGER},
      </if>
      <if test="deptname != null" >
        deptName = #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="xingzhengjibieid != null" >
        xingzhengjibieId = #{xingzhengjibieid,jdbcType=INTEGER},
      </if>
      <if test="xingzhengjibiename != null" >
        xingzhengjibieName = #{xingzhengjibiename,jdbcType=VARCHAR},
      </if>
      <if test="zhiwuid != null" >
        zhiwuId = #{zhiwuid,jdbcType=INTEGER},
      </if>
      <if test="zhiwuname != null" >
        zhiwuName = #{zhiwuname,jdbcType=VARCHAR},
      </if>
      <if test="zhichenid != null" >
        zhichenId = #{zhichenid,jdbcType=INTEGER},
      </if>
      <if test="zhichenname != null" >
        zhichenName = #{zhichenname,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        roleId = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="rolename != null" >
        roleName = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="telcode != null" >
        telCode = #{telcode,jdbcType=VARCHAR},
      </if>
      <if test="qqcode != null" >
        qqCode = #{qqcode,jdbcType=VARCHAR},
      </if>
      <if test="emailcode != null" >
        emailCode = #{emailcode,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="sexname != null" >
        sexName = #{sexname,jdbcType=VARCHAR},
      </if>
      <if test="edulead != null" >
        eduLead = #{edulead,jdbcType=INTEGER},
      </if>
      <if test="bangongtelcode != null" >
        bangongTelCode = #{bangongtelcode,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="positionid != null" >
        positionId = #{positionid,jdbcType=INTEGER},
      </if>
      <if test="positionname != null" >
        positionName = #{positionname,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccgj.database.beans.Users" >
    update users
    set userNo = #{userno,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      deptid = #{deptid,jdbcType=INTEGER},
      deptName = #{deptname,jdbcType=VARCHAR},
      xingzhengjibieId = #{xingzhengjibieid,jdbcType=INTEGER},
      xingzhengjibieName = #{xingzhengjibiename,jdbcType=VARCHAR},
      zhiwuId = #{zhiwuid,jdbcType=INTEGER},
      zhiwuName = #{zhiwuname,jdbcType=VARCHAR},
      zhichenId = #{zhichenid,jdbcType=INTEGER},
      zhichenName = #{zhichenname,jdbcType=VARCHAR},
      roleId = #{roleid,jdbcType=INTEGER},
      roleName = #{rolename,jdbcType=VARCHAR},
      telCode = #{telcode,jdbcType=VARCHAR},
      qqCode = #{qqcode,jdbcType=VARCHAR},
      emailCode = #{emailcode,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      sexName = #{sexname,jdbcType=VARCHAR},
      eduLead = #{edulead,jdbcType=INTEGER},
      bangongTelCode = #{bangongtelcode,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      positionId = #{positionid,jdbcType=INTEGER},
      positionName = #{positionname,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>